{% extends 'components/layout.html'%}
{% load static %}

{% block mid_section%}

<!-- Main Content -->
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Add Property
                <small class="text-muted">Welcome to Estate APP </small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
                    <i class="zmdi zmdi-plus"></i>
                </button>
                <ul class="breadcrumb float-md-right">
                    {% include 'components/homelink.html' %}
                    {% include 'components/propertylink.html' %}
                    <li class="breadcrumb-item active">Add Property</li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="container-fluid">
     <div class="row clearfix">
        <div id="errorContainer" class="d-flex align-items-center justify-content-center"></div>
        <form method="post" id="property_addform" data-location-url="{% url 'ajax_load_location' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div id="formMessages"></div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Basic</strong> Information <small>Description text here...</small> </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4 mt-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Property Name" name="propertyname" id="propertyname">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                  <select class="form-control show-tick" placeholder="Property County" name="propertycounty" id="id_county">
                                    <option value="">Select Property County</option>
                                    {% for county in counties %}
                                    <option value="{{county.id}}">{{county.county_name}}</option>
                                    {% endfor %}
                                    <!-- Add more options as needed -->
                                  </select>
                                </div>
                             </div>
                              
                            <div class="col-sm-4">
                                <div class="form-group "id="id_location">
                                    <select class="form-control show-tick" placeholder="Property Location" name="propertylocation" id="propertylocation">
                                    <option value="">Select Property Location</option>
                                   
                                        <!-- Add more options as needed -->
                                      </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="4" class="form-control no-resize" placeholder="Property Description" name="propertydescription" id="propertydescription"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2><strong>Property</strong> For <small>Description text here...</small> </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                {% for offer in offers %}
                                {% if offer.offer_type|lower == 'rent' %}
                                <div class="radio inlineblock m-r-25">
                                    <input type="radio" name="radio1" id="radio1" value="{{ offer.id }}" checked="">
                                    <label for="radio1">For Rent</label>
                                </div>
                                {% elif offer.offer_type|lower == 'sale' %}
                                <div class="radio inlineblock">
                                    <input type="radio" name="radio1" id="radio2" value="{{ offer.id }}">
                                    <label for="radio2">For Sale</label>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="propertyprice" id="propertyprice" placeholder="Price / Rent" min="0" oninput="validity.valid||(value='');">
                                </div>
                            </div>
                            
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-dm-3 col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="propertybedrooms" id="propertybedrooms" placeholder="Bedrooms" min="0" oninput="validity.valid||(value='');">
                                </div>
                            </div>
                            <div class="col-lg-4 col-dm-3 col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="propertybathrooms" id="propertybathrooms" placeholder="Bathrooms" min="0" oninput="validity.valid||(value='');">
                                </div>
                            </div>
                            <div class="col-lg-4 col-dm-3 col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="propertysize" id ="propertysize" placeholder="Square ft" min="0" oninput="validity.valid||(value='');">
                                </div>
                            </div>
                           
                        </div>                        
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2><strong>More on </strong>Property <small>Description text here...</small> </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control show-tick" name="propertytype" id="propertytype" placeholder="Property type" name="type">
                                        <option value="">Select Property type</option>
                                        {% for type in property_type %}
                                        <option value="{{ type.id }}">{{ type.property_type }}</option>
                                        {% endfor %}
                                        
                                        <!-- Add more options as needed -->
                                      </select>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Posted by" value="Posted by {{ request.user }}"name="postedby">
                                </div>
                            </div>
                                                       
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2><strong>General</strong> Amenities<small>Description text here...</small> </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                {% for amenity in amenities %}
                                <div class="checkbox inlineblock m-r-20">
                                    <input id="checkbox2{{amenity.id}}" type="checkbox" value="{{amenity.id}}" name="propertyamenities">
                                    <label for="checkbox2{{amenity.id}}">{{ amenity.amenities }}</label>
                                </div>
                                {% endfor %}
                      
                            </div>
                        </div>
                        <div class="row clearfix">                            
                            <div class="col-sm-12">
                                <div id="frmFileUpload" class="dropzone m-b-15 m-t-15" data-url="{% url 'admin_addproperty' %}"  data-fieldname="propertyimages">
                                    
                                    <div class="dz-message">
                                        <div class="drag-icon-cph"> <i class="material-icons">touch_app</i> </div>
                                        <h3>Drop files here or click to upload.</h3>
                                        <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em>
                                    </div>
                                    <div class="fallback">
                                        <input name="propertyimages" type="file" multiple />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-round" id="submitbtn">Submit</button>
                                <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
     </div>
    </div>
</section>

{% endblock %}