{% extends 'components/layout.html' %}
{% load static %}

{% block mid_section %}
<!-- Main Content -->
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Property Details
                    <small class="text-muted">Property Information</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin_property' %}"><i class="zmdi zmdi-home"></i> Home</a></li>
                    <li class="breadcrumb-item active">Property Details</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Basic</strong> Information</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Property Name:</label>
                                    <p>{{ adminproperty.title }}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Property County:</label>
                                    <p>{{ adminproperty.location.county.county_name }}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Property Location:</label>
                                    <p>{{ adminproperty.location.location_name }}</p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Property Description:</label>
                                    <p>{{ adminproperty.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Rest of the card sections go here (Property For, More on Property, General Amenities, Main Image, Additional Images) -->
                <!-- ... -->
                <!-- Rest of the card sections go here (Property For, More on Property, General Amenities, Main Image, Additional Images) -->
                <div class="card">
                    <div class="header">
                        <h2><strong>Property</strong> For</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Property For:</label>
                                    <p>{{ adminproperty.offer_type.offer_type }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Price / Rent:</label>
                                    <p>{{ adminproperty.price }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Bedrooms:</label>
                                    <p>{{ adminproperty.propertyfeature.bedrooms }}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Bathrooms:</label>
                                    <p>{{ adminproperty.propertyfeature.bathrooms }}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Square ft:</label>
                                    <p>{{ adminproperty.propertyfeature.size }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Continue with the rest of the card sections (More on Property, General Amenities, Main Image, Additional Images) -->
                <!-- ... -->
                 <!-- More on Property -->
                 <div class="card">
                    <div class="header">
                        <h2><strong>More on</strong> Property</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Property Type:</label>
                                    <p>{{ adminproperty.property_type.property_type }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Posted by:</label>
                                    <p>{{ adminproperty.posted_by }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- General Amenities -->
                <div class="card">
                    <div class="header">
                        <h2><strong>General</strong> Amenities</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Selected Amenities:</label>
                                    <ul>
                                        {% for amenity in property_amenities %}
                                            <li>{{ amenity.amenities.amenities }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main Image -->
                <div class="card">
                    <div class="header">
                        <h2><strong>Main</strong> Image</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="image-container">
                                    <img src="{{ adminproperty.main_image.url }}" alt="Main Property Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Additional Images -->
                <div class="card">
                    <div class="header">
                        <h2><strong>Other</strong> Images</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            {% for image in more_images %}
                                <div class="col-sm-4">
                                    <div class="image-containermore">
                                        <img src="{{ image.image.url }}" alt="Additional Property Image" class="image-preview">
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                    </div><div class="row clearfix">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <a href="{% url 'edit_adminproperty' adminproperty.id %}" class="btn btn-primary btn-round">Edit</a>
                    <a href="javascript:void(0)"  data-id="deleteview2" data-url="{% url 'delete_adminproperty' adminproperty.id %}" data-reloadurl ="{% url 'admin_property' %}" data-name="{{ adminproperty.title }}" class="btn btn-danger btn-round remove-property" id="remove-property">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
